<div class="container">
    <h1>Budget Smarter, Travel Farther.</h1>
    <p>Explore with Expense Explorer. Login to create a trip.</p>
    <div class="row justify-content-center">
        {{#each trips as |trip| }}
        <div class="col-md-6 mb-4 project">
            <div class="text-center">
                <h2><a href="/trip/{{trip.id}}">{{trip.name}}</a></h2>
                <p>Cost of trip:
                    <span for="img" aria-label="money">💲</span>
                    <span class="dollar-amount">{{format_amount trip.needed_funding_total}}</span>
                </p>
                <p>Created by {{trip.user.name}} on {{format_date trip.date_created}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>